<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypodiabetic.happ">

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- To receive data from xdrip. -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />
    <!-- To send data to xdrip watch face. -->
    <permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_EXTERNAL_STATUSLINE" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_MODELS"
            android:value="com.hypodiabetic.happ.Objects.Stats,                             com.hypodiabetic.happ.Objects.APSResult,                             com.hypodiabetic.happ.Objects.Treatments,                             com.hypodiabetic.happ.Objects.TempBasal,                             com.hypodiabetic.happ.Objects.Bg,                             com.hypodiabetic.happ.Objects.Integration" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="HAPP.db" />
        <!-- Also up date AA_DB_VERSION in MainActivity onCreate -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="29" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile_EditorV2"
            android:label="@string/title_activity_profile_editor" />
        <activity
            android:name=".EnterTreatment"
            android:label="@string/title_activity_enter_treatment" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".license_agreement"
            android:label="@string/title_activity_license_agreement" />
        <activity
            android:name=".Integration_Report"
            android:label="@string/title_activity_integration__report"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.BackgroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.APSService"
            android:exported="false" />
        <service
            android:name=".services.FiveMinService"
            android:exported="false" />
        <service
            android:name=".services.TreatmentService"
            android:enabled="true"
            android:exported="true"
            android:process=":treatment_service_process">
            <intent-filter>
                <action android:name="com.hypodiabetic.happ.services.TreatmentService" />
            </intent-filter>
        </service>

        <receiver android:name=".Receivers.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receivers.notificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hypodiabetic.happ.NOTIFICATION_RECEIVER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="be254c8585dff3174ce74dd5e856b96909f9f8c1" />

        <activity
            android:name=".Profile_Editor"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/InsulinIntegrationNotify_title_activity_profile__editor"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>